#about {
    margin-top: 75px;
}

.section-title {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.5em;
    line-height: 1.4;
    font-family: Dosis, arial, sans-serif;
}

.font-alt {
}

.section-text {
    font-size: 15px;
    font-weight: 300;
    color: #777;
    line-height: 1.7;
}