@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,300,700,800);
@import url(https://fonts.googleapis.com/css?family=Dosis:300,400,700);

body {
    color: #111;
    font-size: 14px;
    font-family: "Open Sans", arial, sans-serif;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
}

.bold {
    font-weight: 800;
}